
.idea/

.vs/

OpenDND.Bot.Tests/obj/

OpenDND.Bot/obj/

OpenDND.Data/bin/

OpenDND.Data/obj/

OpenDND.Data.Tests/obj/

OpenDND.DiscordBot.Tests/obj/

OpenDND.Services/bin/

OpenDND.Services/obj/

OpenDND.Services.Tests/obj/

OpenDND.Bot/bin/

OpenDND.Bot.Tests/bin/

OpenDND.Data.Tests/bin/

OpenDND.DiscordBot/obj/

OpenDND.Services.Tests/bin/

OpenDND.Tests/bin/

OpenDND.Tests/obj/

OpenDND/appsettings.json

OpenDND/logs/

OpenDND/dataprotection/
